body{
    font-family: 'Nunito Sans', sans-serif;
    
}
.parent{
    margin-right: 25%;
    margin-left: 25%;
    padding-top: 50px auto;
}
.row{
    padding-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

